*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* 设置总体的一个字体样式及最低宽度不会变布局*/
body{
    font:14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    background-color: #fff;
    min-width: 1226px;
}
.clearfix::after,
.clearfix::before{
    content: "";
    display: table;
    clear: both;
}
/* 设置居中样式 */
.m{
    width: 1226px;
    margin: 0 auto;
}
